.virtuoso-block.offset_image {
  position: relative;
  margin-bottom: 2em;

  &:nth-child(even) {

    section {
      flex-direction: row-reverse;
    }

    .section_image {
      @include media-query('med') {
        left: 0;
      }

    }
  }

  section {
    display: flex;
  }

  .section_image {
    display: none;

    @include media-query('med') {
      display: block;
      width: 80%;
      height: 600px;
      position: absolute;
      overflow: hidden;
      right: 0;
      border-radius: 4px;
    }


    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      margin: auto;
    }
  }

  .section_info {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    align-items: center;

    @include media-query('med') {
      margin: 0;
      width: 80%;
      position: relative;
      min-height: 600px;
      z-index: 2;
      border-radius: 0;
      background-image: none !important;
    }

    @include media-query('lg') {
      width: 50%;
    }

    @include media-query('xlg') {
      width: 800px;
    }

    .section_info_wrap {
      padding: 4em 2em;
      border-radius: 4px;
    }

  }
}