.virtuoso-block.team-grid {

  .team-grid_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @include media-query('med'){
      flex-direction: row;
      justify-content: space-evenly;
      align-items: unset;
    }

    .team-member {
      padding: 2em 10px 0 10px;
      flex: 1;

      .team-member_wrap {
        width: 300px;
        margin: 0 auto;
      }

      .image-wrap {
        width: 300px;
        margin: 0 auto;
      }

      p {
        text-align: left;
        padding-top: 1em;
      }

    }

  }


}