.virtuoso-block.welcome {

  .front_page_top_wrap {
    height: 60vh;

    @include media-query('sm') {
      height: auto;
    }
    @include media-query('med') {
      margin-top: 20vh;
    }
  }

  .heading_wrap {
    text-align: center;
  }

}