.virtuoso-block.welcome {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;

  @include media-query('med') {
    height: 80vh;
    margin: 0 auto;
  }

  .heading_wrap {
    text-align: center;
  }

}